@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}

#contact-form-section {
  background: url(../img/bg.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-card {
  width: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 3px;
  color: #fff;
}

.form-card h2 {
  color: #fff;
  font-size: 26px;
  margin-bottom: 25px;
  position: relative;
}

.form-card h2:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -10px;
  width: 90px;
  height: 2px;
  background-color: #9dc1ba;
}

form.contact-form p {
  margin-bottom: 15px;
}

form.contact-form p input {
  width: 100%;
  height: 35px;
  padding: 10px;
  border: none;
  color: #fff;
  background: transparent;
  border-bottom: 1px solid #ddd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

form.contact-form p input:focus,
form.contact-form p textarea:focus {
  outline: none;
}

form.contact-form p input::-webkit-input-placeholder,
form.contact-form p textarea::-webkit-input-placeholder {
  color: #ddd;
}

form.contact-form p input::-moz-placeholder,
form.contact-form p textarea::-moz-placeholder {
  color: #ddd;
}

form.contact-form p input:-ms-input-placeholder,
form.contact-form p textarea:-ms-input-placeholder {
  color: #ddd;
}

form.contact-form p input::placeholder,
form.contact-form p textarea::placeholder {
  color: #ddd;
}

form.contact-form p textarea {
  width: 100%;
  background: transparent;
  padding: 10px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

form.contact-form p input:hover,
form.contact-form p input:focus,
form.contact-form p textarea:hover,
form.contact-form p textarea:focus {
  border-color: #9dc1ba;
}

form.contact-form p button {
  border: none;
  color: #fff;
  background-color: #9dc1ba;
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
  text-transform: uppercase;
}

form.contact-form p button:hover {
  color: #fff;
  background-color: #000;
}
